/* PHASE 5: Cats */
.content-header {
  height: 200px;
  width: 100%;
  background: url("../images/cats.jpg");
  background-size: cover;
  position: relative;
}

.content-header h1 {
  position: absolute;
  bottom: 20px ;
  color: white; 
  font-size: 36px;
  left: 240px;
  font-weight: 300;
  text-shadow: 2px 2px 4px #000000;
  
}

.content-header button {
  position: absolute;
  bottom: 20px ;
  color: black; 
  font-weight: bold;
  right: 20px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
}